:root {
  --primary-color: rgba(1, 170, 170);
}

body {
  background-color: black;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-weight: 800;
  font-size: 72px;
}
h2 {
  font-size: 24px;
  font-weight: 300;
}
h1,
h2 {
  color: white;
}

#hero-item-container {
  margin-top: 10%;
  margin-bottom: 10%;
  gap: 0px;
}

#hero-item {
  flex-direction: column;
}
#last-name {
  color: var(--primary-color);
}
#hero-image {
  width: 40%;
}
